<%- include('../partials/header', {title:"TrinReserve"}) -%>
<style>
  #floorContainer svg text {
    fill: black !important;
  }

</style>

<div class="container">
  <div class="header">
    <h1>TrinReserve</h1>
  </div>

  <div class="header">
      <select id="floorSelect" class="form-control">
        <option value="FirstFloor">First Floor</option>
        <option value="SecondFloorOld">Second Floor Old Building</option>
        <option value="SecondFloorNew">Second Floor New Building</option>
        <option value="ThirdFloorOld">Third Floor Old Building</option>
        <option value="ThirdFloorNew" selected>Third Floor New Building</option>
      </select>
      <select class="form-control">
          <option>3/4/24</option>
          <option>3/5/24</option>
          <option>3/6/24</option>
          <option>3/7/24</option>
          <option>3/8/24</option>
        </select>
  </div>

  <div class="float-meetings">
    <div class="row">
        <div class="col-md-12">
          <h2>My Clubs</h2>
          
          <ul class="list-group">
            <li class="list-group-item">Math Team <button type="button" class="btn room-button" >Details</button></li>
            <li class="list-group-item">Classics Club <button type="button" class="btn room-button"">Details</button></li>
            <li class="list-group-item">French Club <button type="button" class="btn room-button"  >Details</button></li>
            
          </ul>
        </div>
      </div>
    </div>

  <div class = "float-grid">
  <div id="floorContainer">
    <div id="FirstFloor" style="display: none;">
      <%- include("Floor1.svg") %>
    </div>
    <div id="SecondFloorOld" style="display: none;">
      <%- include("Floor2Old.svg") %>
    </div>
    <div id="SecondFloorNew" style="display: none;">
      <%- include("Floor2New.svg") %>
    </div>
    <div id="ThirdFloorOld" style="display: none;">
      <%- include("Floor3Old.svg") %>
    </div>
    <div id="ThirdFloorNew" style="display: none;">
      <%- include("Floor3New.svg") %>
    </div>
  </div>
</div>
</div>

<%- include('../partials/footer') -%>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    var floorSelect = document.getElementById('floorSelect');

    function showFloor(selectedFloor) {
      // Hide all floors first
      ['FirstFloor', 'SecondFloorOld', 'SecondFloorNew', 'ThirdFloorOld', 'ThirdFloorNew'].forEach(function(floor) {
        document.getElementById(floor).style.display = 'none';
      });
      // Then show the selected floor
      document.getElementById(selectedFloor).style.display = 'block';
    }

    // Initialize with the Third Floor New Building showing
    showFloor('ThirdFloorNew');

    floorSelect.addEventListener('change', function() {
      showFloor(this.value);
    });
  });
</script>
